.coaching .topoesquerda_coaching h2 {
	font: normal 18px/1.5em "aller_regular", Tahoma;
	color: #838383;
	text-align:center;
}
.coaching .topoesquerda_coaching h3 {
	font: normal 24px/1.5em "aller_regular", Tahoma;
	text-align:center;
	color:#3480a7;
}
.coaching .topodireita_coaching {
	background-color: #f1f2f2;
	padding: 10px 0px 40px 0px;
}
.coaching .topodireita_coaching h3 {
	font: normal 22px/1.5em "aller_bold", Tahoma;
	color: #838383;
	margin: 25px 20px;
}
.coaching .topodireita_coaching p {
	font: normal 14px/1.5em "aller_regular", Tahoma;
	color: #838383;
	margin: 25px 20px;
}

.coaching .corpoesquerda_coaching h2 {
	font: normal 30px/1.5em "aller_regular", Tahoma;
	color:#3480a7;
	margin-bottom:40px
}
.coaching .corpoesquerda_coaching .texto_coaching {
	font: normal 14px/2em "aller_regular", Tahoma;
	color: #5a5a5a;
	padding-right: 80px;
}
.coaching .corpoesquerda_coaching .texto_coaching h4 {
	font: normal 18px/1.5em "aller_bold", Tahoma;		
	color:#3480a7;
	margin:0px
}
.coaching .corpoesquerda_coaching .bt_saibamais_coaching {
	margin:30px 0px;	
}

/*FORMULARIO*/
.formulario_coaching {
}
.formulario_coaching .formulario h3 {
	font: normal 24px/1.4em "aller_bold",Tahoma;
	color: #3480a7;
}
.formulario_coaching .formulario .formulario_entrada input[type="text"], .formulario_coaching .formulario .formulario_entrada textarea {
	border-radius: 0px;
	border: 1px solid #000;		
	margin: 5px 0px;
	color:#000;
	padding:5px 10px;
}
.formulario_coaching .formulario .formulario_entrada textarea {
	resize: none;
	width:85%;
	height:200px
}
.formulario_coaching .formulario .formuario_enviar {
	text-align:right;
	padding-right:30px;
}	
#dialog .info_coaching {
	padding: 0px 50px 20px 50px;	
}
#dialog .info_coaching h1 {
	font: normal 24px/1.4em "aller_bold",Tahoma;
	color: #4aa0dc;
	text-transform:uppercase;
	margin-bottom:0px;
}
#dialog .info_coaching h2 {
	font: normal 18px/1.4em "aller_bold",Tahoma;
	color: #5a5a5a;
}
#dialog .info_coaching h3 {
	font: normal 18px/1.4em "aller_regular",Tahoma;
	color: #4aa0dc;
}
#dialog .info_coaching p {
	font: normal 14px/2em "aller_regular",Tahoma;
	color: #5a5a5a;
	margin-bottom:20px;
}

/*Efeito modal*/
.janelaModal {
	position: absolute;
	top:0px;
}
.ui-widget-overlay {
	background: #689fbb;
	opacity: .75;
	filter: Alpha(Opacity=75);
}
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-front {
	z-index: 100;
}
.ui-dialog {
	background:#fff;
	padding: 40px 35px;
}
.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 0;
	margin: 10px 5px 0 0;
	padding: 3px 15px;
	border: 1px solid #d7eaf5;
	background: #4aa0dc;
	font: normal 14px/1.5em "aller_regular", tahoma;
	color: #fff;
}

/*Slider de texto*/
.ls-wrapper {
	height: 150px !important;
	max-width: 100% !important;
}
.ls-wrapper .ls-nav-left-arrow, .ls-wrapper .ls-nav-right-arrow{
	opacity: 1 !important;
	visibility: visible !important;
}
.ls-nav-left-arrow {
	background: url(../img/arrow.png) no-repeat bottom left !important;
}
.ls-nav-right-arrow {
	background: url(../img/arrow.png) no-repeat bottom right !important;
} 
.ls-wrapper .liquid-slider {
	background: transparent !important;	
	
}
.panel-wrapper {
	padding: 20px 100px !important;
}
.slider-texto h2 {
	font: normal 18px/1.5em "aller_regular", tahoma;
	color: #4aa0dc;
	margin: 0px;
	text-align: center;
}	
.slider-texto .msg-slider {
	font: normal 16px/2.2em "aller_italic", tahoma;
	color: #838383;	
	
}
.slider-texto p {
	text-align: right;
	font: normal 14px/1.5em "aller_italic", tahoma;
	color: #4aa0dc;	
}